<% layout('layout') %>

<header>
  <nav>
    <span id="about-btn">about</span>
    <span id="work-btn">work</span>
    <span id="contact-btn">contact</span>
  </nav>
</header>
<div class="top">

  <div class="front">
    <h1>ZACH CHRYSTALL</h1>

    <h2>&#9702;  &#9702;  &#9702;</h2>

    <h2>WEB DEVELOPER</h2>
  </div>
</div>

<div class="wrapper">

  <div class="about panel">

    <p>
      Hi, my name is Zach Chrystall. I'm a web developer living in Melbourne. I've recently pivoted from a career in engineering. Now I create websites for myself and others.
    </p>

  </div>

  <div class="work panel">
    <h1>MY WORK</h1>

    <a href="https://blank-sheet.herokuapp.com/" target="_blank" title="Blank Sheet">
      <div class="project">
        <img src="/images/blank_sheet.PNG" alt="Blank Sheet">
      </div>
    </a>

    <a href="https://stark-citadel-73956.herokuapp.com/" target="_blank" title="Hospi-pals">
      <div class="project">
        <img src="/images/hospi_pals.PNG" alt="Hospi-Pals">
      </div>
    </a>

    <a href="http://zach-chrystall.io/Tic-Tac-Toe/" target="_blank" title="Tic Tac Toe">
      <div class="project">
        <img src="/images/tic_tac_toe.PNG" alt="Tic Tac Toe">
      </div>
    </a>

  </div>

  <div class="contact">
    <h1>CONTACT</h1>
    <h2>&#9702;  &#9702;  &#9702;</h2>
    <a href="mailto:z.chrystall@gmail.com" target="_top">
      <h2>z.chrystall@gmail.com</h2>
    </a>
    <h2>0468 358 180</h2>
    <h2>
      <a href="https://www.linkedin.com/in/z-chrystall/" target="_blank" title='LinkedIn'>
        <div class="link-icon">
          in
        </div>
      </a>
    </h2>
  </div>
</div>



<script src="https://code.jquery.com/jquery-3.2.1.js"></script>
<script src='javascript/functions.js'></script>
