<% layout('layout') %>


<div class="wrapper">
  <div class="explain">
    <h1>Hi, I'm Zach</h1>

    <p>I'm a full stack web developer living in Melbourne.</p>
    <p>Originally from New Zealand, I completed a mechanical engineering degree in 2015 before deciding to switch careers to software development.</p>
    <p>I've just completed a course on Full Stack Web Development with General Assembly and am now looking for a job in the industry to build on my skills. I'm a keen learner, which is why software with it's constantly changing knowledge base appeales to me.</p>
  </div>

  <div class="image-container"></div>

</div>

<div class="social">
  <a href="zchryst.github.io/files/Zach_Chrystall.pdf" title='Download CV'>
    <div class="link-icon">
      cv
    </div>
  </a>
  <a href="https://www.linkedin.com/in/z-chrystall/" title='LinkedIn'>
    <div class="link-icon">
      in
    </div>
  </a>
  <a href="https://github.com/zchryst" title='Github'>
    <div id='github' class="link-icon">
      <i class="fa fa-github" aria-hidden="false"></i>
    </div>
  </a>
</div>
