<% layout('layout') %>

<div class="top">
  <header>
    <nav>
      <span>about</span>
      <span>work</span>
      <span>contact</span>
    </nav>
  </header>

  <div class="front">
    <h1>ZACH CHRYSTALL</h1>

    <h2>&#9702;  &#9702;  &#9702;</h2>

    <h2>WEB DEVELOPER</h2>
  </div>
</div>
