
/*img {
  max-width: 500px;
  -webkit-box-shadow: 0 0 50px black;
  -moz-box-shadow: 12px 29px 81px 0px rgba(0,0,0,0.75);
  box-shadow: 0 0 50px black;
}*/

html,
body {
  box-sizing: border-box;
  font-family: sans-serif;
  color: #ffffff;
  background: #33cc33;
}

header {
  height: 15vh;
  margin: 4vh;
}


nav {
  text-align: right;
}

nav span {
  margin-right: 2.5em;
}


.link-icon {
  background-color: rgba(37, 37, 43, 1);
  width: 1.5em;
  height: 1.5em;
  margin: .5vw 1vw;
  border-radius: 50%;
  color: white;
  font-size: 2em;
  line-height: 1.5em;
  text-align: center;
  vertical-align: middle;
}


.social {
  position: absolute;
  top: 0%;
  right: 0%;
  margin-top: .5vw;
}

@font-face{
	font-family: 'liberation-sans regular';
	src: url('./fonts/LiberationSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'liberation-sans bold';
	src: url('./fonts/LiberationSans-Bold.ttf') format('truetype');
}


p {
  font-family: 'liberation-sans regular', Arial, sans-serif;
  font-size: 1.2em;
  margin-top: .5em;
}

.top {
  height: 100vh
}

.front {
  margin-top: 20vh;
  text-align: center;
}

h1 {
  font-family: 'liberation-sans bold', Arial, sans-serif;
  font-size: 5em;

}

h2 {
  font-size: 1.25em;
  margin-bottom: .75em;
}
