
/*img {
  max-width: 500px;
  -webkit-box-shadow: 0 0 50px black;
  -moz-box-shadow: 12px 29px 81px 0px rgba(0,0,0,0.75);
  box-shadow: 0 0 50px black;
}*/

html,
body {
  height: 100%;
  box-sizing: border-box;
  font-family: sans-serif;
  color: rgba(37, 37, 43, 1);
  background: #ece9e6;
  background: -webkit-linear-gradient(to right, #ffffff, #ece9e6);
  background: linear-gradient(to right, #ffffff, #edeef0);
}

.image-container {
  background-image: url('../images/GA-Linkedin-25.jpg');
  background-size: 100%;
  box-shadow: 80px 0 120px 0 #f5f6f7 inset, 0 50px 50px 0 #f2f3f4 inset, -25px 0 50px 0 #eff0f1 inset;
  width: 35vw;
  height: 45vw;
  position: absolute;
  right: 0vw;
  bottom: 0vh;
}

.wrapper {
  width: 80%;
  margin: 0 auto;
  height: 100%;
  position: relative;
}

.explain {
  width: 50%;
  /*margin-top: 100px;*/
  display: inline-block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.link-icon {
  background-color: rgba(37, 37, 43, 1);
  width: 1.5em;
  height: 1.5em;
  margin: .5vw 1vw;
  border-radius: 50%;
  color: white;
  font-size: 2em;
  line-height: 1.5em;
  text-align: center;
  vertical-align: middle;
}


.social {
  position: absolute;
  top: 0%;
  right: 0%;
  margin-top: .5vw;
}

@font-face{
	font-family: 'liberation-sans regular';
	src: url('./fonts/LiberationSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'liberation-sans bold';
	src: url('./fonts/LiberationSans-Bold.ttf') format('truetype');
}

h1 {
  font-family: 'liberation-sans bold', Arial, sans-serif;
  font-size: 3em;
  margin-bottom: .5em;
}

p {
  font-family: 'liberation-sans regular', Arial, sans-serif;
  font-size: 1.2em;
  margin-top: .5em;
}
